# Dependencies
node_modules/
.pnp
.pnp.js

# Build
.next/
out/
dist/
web/.next/
mobile/.expo/
mobile/dist/

# Env
.env
.env.local
.env*.local

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# Logs
*.log
npm-debug.log*

# Mobile
*.jks
*.p8
*.p12
*.mobileprovision
