EXPO_PUBLIC_STRIPE_CHECKOUT_URL=https://buy.stripe.com/tu_link
EXPO_PUBLIC_WEB_URL=http://localhost:3000
EXPO_PUBLIC_MONETAG_ZONE_ID=tu_zone_id

# Firebase
EXPO_PUBLIC_FIREBASE_API_KEY=
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=
EXPO_PUBLIC_FIREBASE_PROJECT_ID=
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
EXPO_PUBLIC_FIREBASE_APP_ID=
